{% extends 'admin/layout.html' %}
{% block head %}
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.css" />
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">User Reports</h1>
</div>
<div class="py-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes" style="list-style: none;">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <br>
</div>
<br>
<div class="table-responsive">
    <table id="custTable" class="table table-striped table-sm">
        <thead>
            <th>#</th>
            <th>Booking Id</th>
            <th>Destination</th>
            <th>In</th>
            <th>Out</th>
            <th>no. of Rooms</th>
            <th>Head Count</th>
            <th>User Id</th>
        </thead>
        <tbody>
            {% for i in bookings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i.booking_id }}</td>
                <td>{{ i.destination }}</td>
                <td>{{ i.in_date }}</td>
                <td>{{ i.out_date }}</td>
                <td>{{ i.room_count }}</td>
                <td>{{ i.people_count }}</td>
                <td>{{ i.user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.js"></script>
<script>
    $(window).ready(function () {
        var table = $('#custTable').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            }
        });
    });
</script>
{% endblock %}