{% extends 'admin/layout.html' %}
{% block head %}
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.css" />
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">User Reports</h1>
</div>
<div class="py-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes" style="list-style: none;">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <br>
</div>
<br>
<div class="table-responsive">
    <table id="custTable" class="table table-striped table-sm">
        <thead>
            <th>#</th>
            <th>User Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Booking count</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for person, count in users|zip(result.values()) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="user_id">{{ person.user_id }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.name }}</td>
                <td>{% if person.contact != '0' %}
                    {{ person.contact }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{ count }}</td>
                <td>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#bookingsModal"
                        data-user-id="{{ person.user_id }}">
                        <button class="btn btn-outline-secondary">All Bookings</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bookings Modal -->
<div class="modal fade" id="bookingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="bookingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingsModalLabel">Total Bookings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="BookTable" class="table table-striped table-sm" style="width: 100%;">
                        <thead>
                            <th>#</th>
                            <th>Booking Id</th>
                            <th>Destination</th>
                            <th>In</th>
                            <th>Out</th>
                            <th>no. of Rooms</th>
                            <th>Head Count</th>
                            <th>User Id</th>
                        </thead>
                        <tbody id="bookings-modal">
                            {% for i in bookings %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ i.booking_id }}</td>
                                <td>{{ i.destination }}</td>
                                <td>{{ i.in_date }}</td>
                                <td>{{ i.out_date }}</td>
                                <td>{{ i.room_count }}</td>
                                <td>{{ i.people_count }}</td>
                                <td>{{ i.user_id }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.js"></script>
<script>
    $(window).ready(function () {

        $('#bookingsModal').on('show.bs.modal', function (e) {
            var user_id = $(e.relatedTarget).data('user-id');
            $.ajax({
                url: "/admin/get/bookings/user",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ user_id: user_id }),
                beforeSend: function () {
                    var spinner = '';
                    spinner += '<div class="clearfix mt-5 mb-3">';
                    spinner += '  <div class="spinner-border" role="status">';
                    spinner += '    <span class="sr-only">Loading...</span>';
                    spinner += '  </div>';
                    spinner += '</div>';

                    $('#bookings-modal').html(spinner);
                },
            }).done(function (response) {
                if (response.status) {
                    list = ``;
                    if (response.body.length > 0) {
                        list += `<tr> <td>`;
                        for (var j = 1; j <= response.body.length; j++) {
                            let book_id = response.body[j - 1].booking_id
                            let destination = response.body[j - 1].destination
                            let in_date = response.body[j - 1].in_date
                            let out_date = response.body[j - 1].out_date
                            let room_count = response.body[j - 1].room_count
                            let people_count = response.body[j - 1].people_count
                            let user_id = response.body[j - 1].user_id
                            list += `${j} </td> <td>`;
                            list += `${book_id} </td> <td>`;
                            list += `${destination} </td> <td>`;
                            list += `${in_date} </td> <td>`;
                            list += `${out_date} </td> <td>`;
                            list += `${room_count} </td> <td>`;
                            list += `${people_count} </td> <td>`;
                            list += `${user_id} </td> </tr>`;
                        }
                    }
                    else {
                        list = `<tr class='text-center'><td colspan='8' style="font-size: 1.5rem;">No Data Yet</td></tr>`;
                    }
                    $('#bookings-modal').html(list);
                }
            });
        });

        var table = $('#custTable').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            }
        });
        var table = $('#BookTable').DataTable({
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                }
            });
    });

    function redirect_to(event, user_id) {
        $.ajax({
            url: "/admin/user/bookings/all",
            type: "GET",
            contentType: "application/json",
            data: JSON.stringify({ user_id: user_id }),
            beforeSend: function () {
                var spinner = '';
                spinner += '<div class="clearfix">';
                spinner += '  <div class="spinner-border float-right" role="status">';
                spinner += '    <span class="sr-only">Loading...</span>';
                spinner += '  </div>';
                spinner += '</div>';

                event.firstElementChild.innerHTML = spinner;
            },
        }).done(function (response) {
            return true
        });
    }
</script>
{% endblock %}