{% extends 'user/layout.html' %}
{% block head %}
<style>
    #BookTable_filter>label {
        position: absolute;
        right: 5%;
    }

    .user_card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    @media only screen and (max-width: 768px) {
        .user_card {
        width: 90%
        }
    }
</style>
{% endblock %}
{% block content %}
<br>
<h2 class="card-title">All Bookings</h2>
<hr>
<div class="table-responsive" style="font-size: 1rem;">
    <table id="BookTable" class="table table-striped" style="width: 100%;">
        <thead>
            <th>#</th>
            <th>Booking Id</th>
            <th>Destination</th>
            <th>In</th>
            <th>Out</th>
            <th>no. of Rooms</th>
            <th>Head Count</th>
        </thead>
        <tbody class="text-center" id="bookings-modal">
            {% for i in bookings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i.booking_id }}</td>
                <td>{{ i.destination }}</td>
                <td>{{ i.in_date }}</td>
                <td>{{ i.out_date }}</td>
                <td>{{ i.room_count }}</td>
                <td>{{ i.people_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.4/sl-1.3.1/datatables.min.js"></script>

<script>
    $(window).ready(function () {

        var table = $('#BookTable').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            }
        });
    });
</script>
{% endblock %}